.pb-panel {
    width: calc(100% - 15rem);
    min-height: 100vh;
    float: right;
    position: relative;
    -webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    -ms-transition: all 250ms ease;
    -o-transition: all 250ms ease;
    transition: all 250ms ease;

    &__content {
        margin-top: 5rem;
        padding: 1rem;
        overflow-y: auto;
    }
}

@media (max-width: 992px) {
    .pb-panel:not(.close) {
        width: 100%;
    }
}
